*{
  margin: 0;
    padding: 0;
 background-color: #f2f2f2;}

 

.button
{background-color: #e74c3c;
text-align:center;
}

.form
{text-align: center;
background-color: #fff;
padding: 20px;
border-radius: 5px;}


